<!DOCTYPE html>
<html lang="kr">
<head th:fragment="configFragment">
    <title>JH's Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <!-- <script src="../assets/js/vue_2.6.12.min.js"></script> -->
    <script src="/static/js/vue_2.6.12.js"></script>
</head>
</html>