<!DOCTYPE HTML>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/layout"
>
<div layout:fragment="content">
    <div class="main-intro">
        <!-- <h1>고유명사가 되고싶은 개발자<br><span>'오지훈'</span>입니다</h1> -->
        <h1>Hello, World<br/>Welcome JH's Blog</h1>
    </div>
    <div class="main-list">
        <table>
            <tr class="main-tr">
                <td class="main-td">
                    <a href="#">
                        <img src="/static/image/noImage.png" class="main-img">
                        화면에 보일껄? 화면에 보일껄? 화면에 보일껄? 화면에 보일껄? 화면에 보일껄?
                    </a>
                    <p class="date-show"><span>21.01.01</span></p>
                </td>
                <td class="main-td">화면에 보일껄?</td>
                <td class="main-td">화면에 보일껄?</td>
                <td class="main-td">화면에 보일껄?</td>
            </tr>
        </table>
        <div>1234</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div><div>asdf</div>
    </div>
</div>
</html>
